.logo{

    color: rgb(247, 247, 247);
    font-weight: bold;
    font-size: 1.4em;

}

.logo-left{
    background-color: #f09319;
    padding: 3px 5px 3px 8px;
    border-radius: 4px;
}

.logo-right{
    background-color: #311e04; 
    padding: 3px 5px 3px 3px;
    margin-left: -3px;
    border-radius: 4px;
}